{%load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anderson Costa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <style>
        button {
            background: none;
            border: none;
            outline: none;
            padding: 0;
        }

        .buscar_fundo{
            height: 1rem;
        }

        input {
            border-radius: 5%;
            margin-bottom: 0.5rem;
            color: aliceblue;
        }
    </style>
</head>

<body >
    <div class="pagina-inicial">
        <header class="cabecalho">
            <img class="logo" src="{% static '/assets/logo/Logo(2).png'%}" alt="Logo" />
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <form action="{% url 'buscar' %}">
                        <input class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                        <button>
                            <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png'%}" alt="ícone de search">
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png'%}"> Home</a>
                    <a href="{% url 'imagem' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png'%}">Sobre</a>
                </nav>
            </section>
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner3.png'%}" alt="banner Alura Space">
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Destaques</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for fotografia in cards %}
                            <li class="card">
                                <a href="{{ fotografia.link }}" target="_blank">
                                    <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
                                </a>
                                <span class="card__tag">{{ fotografia.nome }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ fotografia.legenda }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ fotografia.descricao }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor%}
                            {% else %}
                            <div class="imagem_texto">
                                <p style="color: aliceblue;">Seção não encontrada</p>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <footer class="rodape" style="">
        <div class="rodape__icones">
            <a href="https://twitter.com/AluraOnline" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/twitter.png'%}" alt="ícone twitter">
            </a>
            <a href="https://www.instagram.com/aluraonline/" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/instagram.png'%}" alt="ícone instagram">
            </a>
        </div>
        <p class="rodape__texto">Desenvolvido por Alura</p>
    </footer>
</body>

</html>